<div class="input-container">

  <h1>Gear "Worth" Calculator</h1>

  <form name="gearForm" novalidate>
    <mat-form-field>
      <mat-label>Type of gear</mat-label>
      <mat-select [(value)]="inputState.typeOfGear">
        <mat-option value="85">85</mat-option>
        <mat-option value="88">88</mat-option>
        <mat-option value="90">90</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rarity</mat-label>
      <mat-select [(value)]="inputState.rarity">
        <mat-option value="Heroic">Heroic</mat-option>
        <mat-option value="Epic">Epic</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enhance level</mat-label>
      <mat-select [(value)]="inputState.enhanceLevel">
        <mat-option value="0">0 - 2</mat-option>
        <mat-option value="3">3 - 5</mat-option>
        <mat-option value="6">6 - 8</mat-option>
        <mat-option value="9">9 - 11</mat-option>
        <mat-option value="12">12 - 14</mat-option>
        <mat-option value="15">15</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-grid-list cols="2" rowHeight="50">

      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Attack Percentage</mat-label>
          <input name="attackPercentage" type="number" matInput [placeholder]="placeholders.attackPercentage" [(ngModel)]="inputState.attackPercentage"
            [minLength]="0" [maxLength]="validation.maxAttackPercentage">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Attack Flat</mat-label>
          <input name="attackFlat" type="number" matInput [placeholder]="placeholders.attackFlat" [(ngModel)]="inputState.attackFlat"
            [minLength]="0" [maxLength]="validation.maxAttackFlat">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Defense Percentage</mat-label>
          <input name="defensePercentage" type="number" matInput [placeholder]="placeholders.defensePercentage" [(ngModel)]="inputState.defensePercentage"
            [minLength]="0" [maxLength]="validation.maxDefensePercentage">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Defense Flat</mat-label>
          <input name="defenseFlat" type="number" matInput [placeholder]="placeholders.defenseFlat" [(ngModel)]="inputState.defenseFlat"
            [minLength]="0" [maxLength]="validation.maxDefenseFlat">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Health Percentage</mat-label>
          <input name="healthPercentage" type="number" matInput [placeholder]="placeholders.healthPercentage" [(ngModel)]="inputState.healthPercentage"
            [minLength]="0" [maxLength]="validation.maxHealthPercentage">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Health Flat</mat-label>
          <input name="healthFlat" type="number" matInput [placeholder]="placeholders.healthFlat" [(ngModel)]="inputState.healthFlat"
            [minLength]="0" [maxLength]="validation.maxHealthFlat">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Crit Chance Percentage</mat-label>
          <input name="critChance" type="number" matInput [placeholder]="placeholders.critChance" [(ngModel)]="inputState.critChance"
            [minLength]="0" [maxLength]="validation.maxCritChance">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Crit Damage Percentage</mat-label>
          <input name="critDamage" type="number" matInput [placeholder]="placeholders.critDamage" [(ngModel)]="inputState.critDamage"
            [minLength]="0" [maxLength]="validation.maxCritDamage">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Effectiveness</mat-label>
          <input name="effectiveness" type="number" matInput [placeholder]="placeholders.effectiveness" [(ngModel)]="inputState.effectiveness"
            [minLength]="0" [maxLength]="validation.maxEffectiveness">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Effect Resistance</mat-label>
          <input name="effectResistance" type="number" matInput [placeholder]="placeholders.effectResistance" [(ngModel)]="inputState.effectResistance"
            [minLength]="0" [maxLength]="validation.maxEffectResistance">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-tile>
      <mat-form-field class="example-full-width">
        <mat-label>Speed</mat-label>
        <input name="speed" type="number" matInput [placeholder]="placeholders.speed" [(ngModel)]="inputState.speed" [minLength]="0"
          [maxLength]="validation.maxSpeed">
      </mat-form-field>
    </mat-grid-tile>

    <button mat-button (click)="rateGear()">Rate!</button>
  </form>
</div>

{{inputState | json}}
